.bb-bookblock {
	width: 100%;
	height: calc(100% - 40px);
}

ul.bb-custom-grid {
	max-width: 1150px;
	list-style: none;
	margin: 0 auto 0px auto;
	padding: 0;
	width: calc(100% - 150px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@media screen and (min-width: $mobilesize) and (max-width: $tabletsize) {
		width: calc(100% - 50px);
	}
	@media screen and (max-width: $mobilesize) {
		width:100%;
	}
}

ul.bb-custom-grid img {
	height: 260px;
}

/* Micro clearfix hack by Nicolas Gallagher */
ul.bb-custom-grid:before,
ul.bb-custom-grid:after {
	content: " ";
    display: table;
}

ul.bb-custom-grid:after {
	clear: both;
}
/* end clearfix hack */

ul.bb-custom-grid li {
	float: left;
	width: 210px;
	height: 300px;
	overflow: hidden;
	padding: 20px 20px 40px 20px;
	background: #fff;
	position: relative;
	box-sizing: content-box;
	margin: auto auto 20px auto;
	background: $blauw;
	border-radius: 5px;
}


ul.bb-custom-grid li:before,
ul.bb-custom-grid li:after{
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  10px;
	width: 50%;
	height: 20%;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

ul.bb-custom-grid li:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}

ul.bb-custom-grid li a {
	display: block;
}

ul.bb-custom-grid li h3 {
	color: #fff;
	margin: 0;
	padding: 0px;
	font-size: 130%;
	font-family: 'Lato';
	text-align: center;
}

ul.bb-custom-grid nav {
	text-align: center;
	margin-top: 8px;
}

ul.bb-custom-grid nav span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
	margin: 3px;
	cursor: pointer;
}

ul.bb-custom-grid i {
	margin: 0px 1px 0px 1px;
	color: #C36276;
}



