.bb-bookblock {
	width: 100%;
	height: calc(100% - 40px);
}

ul.bb-custom-grid {
	list-style: none;
	margin: 0 auto 30px auto;
	padding: 0;
	width: calc(100% - 80px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Micro clearfix hack by Nicolas Gallagher */
ul.bb-custom-grid:before,
ul.bb-custom-grid:after {
	content: " ";
    display: table;
}

ul.bb-custom-grid:after {
	clear: both;
}
/* end clearfix hack */

ul.bb-custom-grid li {
	float: left;
	width: 400px;
	height: 538px;
	overflow: hidden;
	padding: 10px 20px 50px 20px;
	background: #fff;
	position: relative;
	box-sizing: content-box;
	margin: auto auto 20px auto;
	box-shadow: 0 0px 15px rgba(0,0,0,0.2);
	background: $blauw;
}


ul.bb-custom-grid li:before,
ul.bb-custom-grid li:after{
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  10px;
	width: 50%;
	height: 20%;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

ul.bb-custom-grid li:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}

ul.bb-custom-grid li a {
	display: block;
}

ul.bb-custom-grid li h3 {
	color: $roze;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 35px;
	letter-spacing: 1px;
}

ul.bb-custom-grid nav {
	text-align: center;
	margin-top: 12px;
	padding-bottom: 5px;
}

ul.bb-custom-grid nav span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: $roze;
	margin: 3px;
	cursor: pointer;
}

ul.bb-custom-grid nav span.bb-current {
	background: $roze;
}
